div.row
	div.col-md-6.col-md-offset-3
		div.panel.panel-primary
			div.panel-heading
				h4 Create User Page
			div.panel-body
				form.form.form-horizontal(action="#!/users/create")
					div.form-group
						label.col-md-2.control-label First
						div.col-md-9
							input.form-control(v-model="first",type="text",placeholder="First Name")
					div.form-group
						label.col-md-2.control-label Last
						div.col-md-9
							input.form-control(v-model="last",type="text",placeholder="Last Name")
					div.form-group
						label.col-md-2.control-label Email
						div.col-md-9
							input.form-control(v-model="email",type="email",placeholder="Email")
					div.form-group
						label.col-md-2.control-label Password
						div.col-md-9
							input.form-control(v-model="password",type="password")
					div.form-group
						label.col-md-2.control-label Confirm PW
						div.col-md-9
							input.form-control(v-model="confirm_password",type="password")
					hr
					div.form-group
						div.col-md-2
							button.btn.btn-md.btn-success.pull-right(type="button",@click="createAccount") Create
						div.col-md-7
						div.col-md-2
							a.btn.btn-md.btn-info.pull-left(type="button",href="#!/session/create") Login Page